.order-item {
  position: relative;
}
.tip{
  position: absolute;
  line-height: 32px;
  width: 32px;
  background-color: #facf7e;
  text-align: center;
  border-radius: 50%;
  top: 0;
  left: 62%;
}
.w5 {
  width: 142px;
}
.w4 {
  width: 177.5px;
}