.cate-list {
  margin-bottom: 12px;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-sizing: border-box;
}
.dish-item{
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  height: 180px;
}
.dish-info{
  width: 100%;
	height: 180px;
}
.dish-info-img{
  position: relative;
  width: 180px;
  height: 180px;
  background-image: url('https://weapp-1253522117.image.myqcloud.com//image/20190403/393a3220c7b54d3d.png');
  background-size: 100% 100%;
}
.h100{
  height: 100vh;
}
.item-h100 {
  height: 100%;
}
.column{
  flex-direction: column;
}
.price{
  color: #ee373f;
}
.between{
  justify-content: space-between;
}
.add-icon{
  width: 44px;
  height: 44px;
}
.hl24{
  height: 24px;
  line-height: 24px;
}
.dish-info-detail{
  width: 100%;
  height: 60px;
  line-height: 30px;
  overflow: hidden;
  padding-top: 10px;
}

.increment-disabled {
  background: #e6e6e6;
  @extend .circle;
}
.increment-bg {
  background: linear-gradient( #ff5353, #ff8f58);
  @extend .circle;
}
.increment-layout {
  margin-left: 10px;
  padding: 10px 20px;
}
.discrement-layout {
  margin-right: 10px;
  padding: 10px 20px;
}
.numCtrl {
  position: absolute;
  right: 0;
  bottom: -30px;
}
.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-sizing: border-box;
}
.increment {
  padding-left: -2px;
  padding-top: 1px;
  @extend .circle;
}
.discrement {
  color: #c0c0c0;
  padding-left: 3px;
  padding-top: 2px;
	background-color: #f7f8fa;
  border: solid 1px #c8c9cc;
  @extend .circle;
}
.ltr {
  text-decoration: line-through;
}
