.void-button {
  padding: 0;
  height: 120px;
  border: none;
  border-radius: 0;
}
.void-button-content-wrapper {
  margin: 0 30px;
}
.tail {
  min-width: 200px;
}

.header-content-padding {
  height: 1px;
  width: 30px;
}

.border-top {
  border-top: solid 1px #f4f4f4;
}
.border-bottom {
  border-bottom: solid 1px #f4f4f4;
}
.h100-button {
  height: 100px;
  padding: 0;
  border: 0;
  border-radius: none;
}
