.container{
  width: 100%;
  height: 100%;
  padding-top: 90px;
  background-color: #f2f3f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fl{
  display: flex;
  flex: 1;
  // text-align: center;
  align-items: center;
  justify-content: space-around;
}
.row90{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
}
.status-list{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.r{
  color: #ef373f;
  border-bottom: 4px solid #ef373f;
}
.smallBox{
  color: #ef373f;
  height: 100%;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 128px;
  // width: auto;
  border-bottom: 4px solid #ef373f;
}
.groupItem{
  width: 720px;
  height: 396px;
  margin-top: 15px;
  background-color: #fff;
  padding: 0 25px;
  box-sizing: border-box;
}