.page {
  background-color: #b59f7b;
  height: 100vh;
}
.segment {
  position: relative;
  display: flex;
  flex-direction: center;
  justify-content: center;
  box-sizing: border-box;
  width: 750px;
  height: auto;
  background-color: white;
}

.form-info-segment {
  position: relative;
  top: 130px;
  margin: 0 auto;
  width: 690px;
  height: 730px;
  border-radius: 20px;
  box-shadow: 0 9px 38px rgba(92, 92, 92, .29);
}

.get-valid-code-button {
  margin-right: 20px;
  width: 191px;
  height: 64px;
  line-height: 64px;
  border: none;
}

.change-password-button {
  margin-top: 65px;
  width: 610px;
  height: 90px;
  border: none;
}
.input-view {
  box-sizing: border-box;
  margin-top: 36px;
  padding-left: 50px;
  width: 608px;
  height: 100px;
  line-height: 100px;
  background: #f3f5f4;
  color: #333;
}
.input-view-first {
  margin-top: 0;
}
.form-input {
  margin-left: 30px;
  margin-right: 20px;
  flex: 1;
  height: 100px;
  line-height: 100px;
  border: none;
}

.info-view {
  margin-top: 40px;
  width: 610px;
}
.bgc-m-o {
  background-color: #b59f7b;
}
.bgc-m-o-d {
  background-color: rgba(181, 159, 123, 0.8);
}
.br6 {
  border-radius: 6px;
}